# Airflow
AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=changeme

# AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=ap-northeast-2

# S3 Buckets
S3_RAW_BUCKET=your-raw-bucket-name
S3_PROCESSED_BUCKET=your-processed-bucket-name

# PostgreSQL (Airflow metadata DB)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow Admin Account
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com